platforms/

run/*
!run/SvendB3nt-testCases/
run/SvendB3nt-testCases/templates/
!run/SvendB3nt-testCases/turbulenceModelValues.ods

run/SvendB3nt-testCases/pipeCircleSteady-k-eps/*
run/SvendB3nt-testCases/pipeCircleSteady-k-eps/0/uniform/
run/SvendB3nt-testCases/pipeCircleSteady-k-eps/constant/polyMesh
!run/SvendB3nt-testCases/pipeCircleSteady-k-eps/0/
!run/SvendB3nt-testCases/pipeCircleSteady-k-eps/constant/
!run/SvendB3nt-testCases/pipeCircleSteady-k-eps/system/
!run/SvendB3nt-testCases/pipeCircleSteady-k-eps/Allrun

run/SvendB3nt-testCases/pipeCircleSteady-k-omg/*
run/SvendB3nt-testCases/pipeCircleSteady-k-omg/0/uniform/
run/SvendB3nt-testCases/pipeCircleSteady-k-omg/constant/polyMesh
!run/SvendB3nt-testCases/pipeCircleSteady-k-omg/0/
!run/SvendB3nt-testCases/pipeCircleSteady-k-omg/constant/
!run/SvendB3nt-testCases/pipeCircleSteady-k-omg/system/l
!run/SvendB3nt-testCases/pipeCircleSteady-k-omg/Allrun

run/SvendB3nt-testCases/pipeRectSteady-k-eps/*
run/SvendB3nt-testCases/pipeRectSteady-k-eps/0/uniform/
run/SvendB3nt-testCases/pipeRectSteady-k-eps/constant/polyMesh
!run/SvendB3nt-testCases/pipeRectSteady-k-eps/0/
!run/SvendB3nt-testCases/pipeRectSteady-k-eps/constant/
!run/SvendB3nt-testCases/pipeRectSteady-k-eps/system/
!run/SvendB3nt-testCases/pipeRectSteady-k-eps/Allrun

run/SvendB3nt-testCases/pipeSqrSteady-k-omg/*
run/SvendB3nt-testCases/pipeSqrSteady-k-omg/0/uniform/
run/SvendB3nt-testCases/pipeSqrSteady-k-omg/constant/polyMesh
!run/SvendB3nt-testCases/pipeSqrSteady-k-omg/0/
!run/SvendB3nt-testCases/pipeSqrSteady-k-omg/constant/
!run/SvendB3nt-testCases/pipeSqrSteady-k-omg/system/
!run/SvendB3nt-testCases/pipeSqrSteady-k-omg/Allrun


**/lnInclude/
**/linux64GccDPInt32Opt/
**/dynamicCode/
**/postProcessing/
**/processor*/
**/*.foam
**/log.*
**/*.org